div {
    height: 100px;
    width: 100px;
    background-color: rgb(42, 165, 52);
    position: relative;
    animation-name: colorchange;
    animation-duration: 8s;
    animation-delay: 2s;
    font-weight: lighter;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    /* animation-timing-function: ease-in; */
    animation-fill-mode: forwards;
}

#ease{
 animation-timing-function: ease;
}
#linear{
animation-timing-function: linear;
}
#ease-in{
animation-timing-function: ease-in;
}
#ease-out{
animation-timing-function: ease-out;
}

@keyframes colorchange {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: green;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: blue;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: yellowgreen;
        left: 0px;
        top: 0px;
    }
}